@{
    ViewBag.Title = "Lower Mainland Yacht Co-op";
}

<div class="jumbotron">
    <h1>Welcome to the LMYC</h1>
</div>


<div class="row">
    <h2>Purpose</h2>
    <p>Come join use at LMYC where we rent out sailboats to the public!  We hold races all the time and compete for the title of "Best Skipper" (and no I dont mean school).  
    So what are you waiting for?  Come sign up and be part of the action!</p>
</div>
